@tailwind base;
@tailwind components;
@tailwind utilities;

@l: root{
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
};

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.md-table-wraper {
  overflow-x: auto;
  max-width: 100%;
}

.md-table-wraper::-webkit-scrollbar {
  height: 8px;
}

.md-table-wraper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.md-table-wraper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.md-table-wraper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.md-table-wraper {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.prose {
  width: 95%;
}

@media (max-width: 400px) {
  .prose {
    font-size: small;
  }
}
